@import "variables";
@import "mixins";

@include fancy-links;

body {
  font-family: $text-font;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h1 {
	@include large-text;
}

h2 {
	text-transform: uppercase;
	color: #333;
}

p {
  font-family: $text-font;
}

a {
	color: $link-color;
}

.warning-button {
  @include warning;
  padding: 8px 12px;
}

#header {
	@include box;
	height: $header-height;
	background-color: $theme-color;

  #main-menu {
  	li {
  		display: inline;
  	}
	a {
		color: $menu-item-color;
	}
  }

  #logo {

  }
}

#main {
	width: $content-width;
	margin: 0 auto;

  #content {
  }

  #sidebar {
  }
}

#footer {
	background-color: $ternary-color;
	height: $footer-height;
}
img {
	float: left;
	padding-right: 20px;
}
nav ul li {
	padding: 10px;
}
